.border{
    border:2px solid red;
    margin:3px;
}
.flex{
    display:flex;
}
.justify-center{
    justify-content: center;
}
.items-center{
    align-items: center;
}
.bg-black{
    background-color:black;
    color: white;
}
.invert{
    filter:invert(1);
}
.bg-grey{
    background-color: #121212;
}
.rounded{
    border-radius: 7px;
}
.m-1{
    margin:5px ;
}
.p-1{
    padding: 10px;
}
/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 10px; /* Width of the scrollbar */
}

::-webkit-scrollbar-track {
    background: #333; /* Background color of the track */
}

::-webkit-scrollbar-thumb {
    background: #666; /* Color of the thumb */
    border-radius: 5px; /* Roundness of the thumb */
}

/* For Firefox */
/* Note: Firefox does not currently support styling the scrollbar */
